<table style="width: 500px; font-size: 11pt; font-family: Arial, sans-serif;" border="0" cellspacing="0"
    cellpadding="0">
    <tbody>
        <tr>
            <td style="font-size: 10pt; font-family: Arial, sans-serif; width: 200px; padding-right: 20px; vertical-align: top;"
                valign="top" width="200"><a href="https://www.codetwo.com/" target="_blank"
                    rel="noopener noreferrer"><img style="width: 200px; height: auto; border: 0;"
                        src="https://www.paritie.com/assets/paritie.jpeg"
                        alt="Logo" width="200" border="0" /></a></td>
            <td style="vertical-align: top; width: 300px;" valign="top" width="300">
                <table style="width: 300px;" border="0" width="300" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="font-size: 9pt; font-family: Arial, sans-serif; height: 105px; vertical-align: top;"
                                valign="top">
                                <table style="width: 300px;" width="300" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="line-height: 14px; width: 80px; font-size: 9pt; color: #000000; font-family: Arial, sans-serif;"
                                                width="80">Phone:</td>
                                            <td style="line-height: 14px;"><strong
                                                    style="font-size: 9pt; font-family: Arial, sans-serif; color: #000000;">+234
                                                    817 624 1972</strong></td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 14px; width: 80px; font-size: 9pt; color: #000000; font-family: Arial, sans-serif;"
                                                width="80">Email:</td>
                                            <td style="line-height: 14px;"><strong
                                                    style="font-size: 9pt; font-family: Arial, sans-serif; color: #000000;">info@paritie.com</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 14px; width: 80px; font-size: 9pt; color: #000000; font-family: Arial, sans-serif;"
                                                width="80">Website:</td>
                                            <td style="line-height: 14px;"><a style="text-decoration: none;"
                                                    href="http://www.paritie.com" target="_blank"
                                                    rel="noopener noreferrer"><strong
                                                        style="font-size: 9pt; font-family: Arial, sans-serif; color: #000000;">
                                                        www.codetwo.com</strong></a></td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 14px; width: 80px; font-size: 9pt; color: #000000; font-family: Arial, sans-serif; vertical-align: top;"
                                                valign="top" width="80">Address:</td>
                                            <td style="vertical-align: top; line-height: 14px;" valign="top">Suite C1,
                                                Peniel Albarka Plaza</strong><strong
                                                    style="font-size: 9pt; font-family: Arial, sans-serif; color: #000000;"><span>,
                                                    </span>Opposite Federal High Court, Minna. Niger State</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 10pt; font-family: Arial, sans-serif; padding-bottom: 0px; vertical-align: bottom; height: 25px;"
                                valign="bottom"><span><a href="https://www.facebook.com/paritieltd" target="_blank"
                                        rel="noopener noreferrer"><img style="border: 0; height: 19px; width: 19px;"
                                            src="https://www.paritie.com/assets/fb.png"
                                            alt="facebook icon" width="19" border="0" /></a>&nbsp;</span><span><a
                                        href="https://twitter.com/paritieltd" target="_blank"
                                        rel="noopener noreferrer"><img style="border: 0; height: 19px; width: 19px;"
                                            src="https://www.paritie.com/assets/twitter.png"
                                            alt="twitter icon" width="19" border="0" /></a>&nbsp;</span><span><a
                                        href="https://www.youtube.com/user/CodeTwoChannel" target="_blank"
                                        rel="noopener noreferrer"><img style="border: 0; height: 19px; width: 19px;"
                                            src="https://codetwocdn.azureedge.net/images/mail-signatures/generator/pad-box/yt.png"
                                            alt="youtube icon" width="19" border="0" /></a>&nbsp;</span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 15px; line-height: 14px; font-size: 8pt; color: #9a9a9a; font-family: Arial, sans-serif;"
                colspan="2">The content of this email is confidential and intended for the recipient specified in
                message only. It is strictly forbidden to share any part of this message with any third party, without a
                written consent of the sender. If you received this message by mistake, please reply to this message and
                follow with its deletion, so that we can ensure such a mistake does not occur in the future.</td>
        </tr>
    </tbody>
</table>


#########################
<table data-mysignature-date="2019-08-28T06:51:37.560Z" data-mysignature-is-paid="0" width="500" cellspacing="0"
    cellpadding="0" border="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td valign="top" width="100" style="padding:0 8px 0 0;vertical-align: top;"> <img alt="" width="100"
                            style="width:100px;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border-radius:10%;"
                            src="./omowumi.jpeg" />
                    </td>
                    <td style="font-size:1em;padding:0 15px 0 8px;vertical-align: top;" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0"
                            style="line-height: 1.4;font-family:Arial, Helvetica, sans-serif;font-size:90%;color: #000001;">
                            <tr>
                                <td>
                                    <div style="font: 1.2em Arial, Helvetica, sans-serif;color:#000001;">Omowumi Samson</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0;">
                                    <div style="color:#000001;font-family:Arial, Helvetica, sans-serif;"> </div>
                                </td>
                            </tr>
                            <tr>
                                <td> <span
                                        style="font-family:Arial, Helvetica, sans-serif;color:#272870;">phone:&nbsp;</span>
                                    <span><a style="font-family:Arial, Helvetica, sans-serif;color:#000001;"
                                            href="tel:09031992770">08134677892</a></span> </td>
                            </tr>
                            <tr>
                                <td> <span
                                        style="font-family:Arial, Helvetica, sans-serif;color:#272870;">email:&nbsp;</span>
                                    <span><a href="mailto:paritieltd@gmail.com" target="_blank"
                                            style="font-family:Arial, Helvetica, sans-serif;color: #000001;">omovikforfame@gmail.com</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td> <span
                                        style="font-family:Arial, Helvetica, sans-serif;color:#272870;">address:&nbsp;</span>
                                    <span style="font-family:Arial, Helvetica, sans-serif;color:#000001;">behind el-amin minna</span> </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border-left:3px solid #272870;vertical-align:middle;padding:0 0 3px 6px;font-family: Arial;border-color:##272870;"
                        valign="middle">
                        <table cellspacing="0" cellpadding="0" border="0" style="line-height: 1;">
                            <tr>
                                <td style="padding: 4px 0 0 0;"><a href="https://fb.com/paritieltd"><img alt=""
                                            style="width:22px;" width="22"
                                            src="https://www.paritie.com/assets/fb.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0 0 0;"><a href="https://twitter.com/paritieltd"><img alt=""
                                            style="width:22px;" width="22"
                                            src="https://www.paritie.com/assets/twitter.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0 0 0;"><a href="https://instagram.com/paritieltd"><img alt=""
                                            style="width:22px;" width="22"
                                            src="https://www.paritie.com/assets/ig.png"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="branding" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td style="display:block;padding:15px 0 0 0;"></td>
    </tr>
</table>
<br><br><br>

<div style="float: left;">
    <h2 style="margin:0px; color: black; padding-left: 5px;">Shuaibu Muhammad</h2>
    <h3 style="margin:0px; padding: 5px 0px 10px 10px">
        Web developer
    </h3>
<div style="float: left; ">
    <a href="#">
        <img alt="" width="100"
                            style="width:100px;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border-radius:10%;"
                            src="./mypic.jpeg" />
    </a>
</div>

<div style="float: left; padding-left: 5px; margin-bottom: 10px;">
    <h4 style="margin:0px; padding-bottom: 3px;">
        <span style="color: #272870;">Phone: </span>
        +234 9031 992 770
    </h4>
    <h4 style="margin:0px; padding-bottom: 3px;">
        <span style="color: #272870;">Email: </span>
        freezzemx@gmail.com
    </h4>
    <h4 style="margin:0px">
        <span style="color: #272870;">Address: </span>
        Opposite 3-arm zone maitumbi minna, Niger state
    </h4>
</div>
<div style="font-size: 20pt; font-family: Arial, sans-serif; margin-top: 20px; padding-bottom: 5px; vertical-align: bottom; height: 25px; padding-left:20px;">
    <span>
        <a href="https://www.facebook.com/paritieltd">
            <img style="border: 0; height: 24px; width: 24px;"
            src="https://www.paritie.com/assets/fb.png"
            alt="facebook icon" /></a>&nbsp;</span>
        <span>
            <a href="https://twitter.com/superior">
                <img style="border: 0; height: 24px; width: 24px;"
                    src="https://www.paritie.com/assets/twitter.png"
                    alt="twitter icon"/></a>&nbsp;</span>
        <span
            style="padding: 4px 0 0 0;"><a href="https://instagram.com/paritieltd"><img alt=""
                style="width:22px;" width="22"
                src="https://www.paritie.com/assets/ig.png"></a>
        </span>
</div>
</div>